/* COLORS!

dark blue:  #072845;
light blue: #6FA2B3;
off white:  #FFFFFF;
light red:  #802724;
dark red:   #330704;

*/
					/* Smart Phones */
@media only screen 
and (min-width : 1px) 
and (max-width : 580px) {

	html {
		background: url(../images/sunny_small.jpg) no-repeat center center fixed; 
	}

	#instructobox {
		display:none;
	}

	.word {
	    font-size:24px;
	    padding:0px 7px 4px 8px;
	    border-radius:15px;
	    text-shadow: 1px 1px #072845;
	}
	#word_right_container {
		top:48%;
		left:50%;
	}
	#word_left_container {
		top:48%;
		left:0%;
	}

	#social span {
		font-size:24px;
		margin-top:7px;
		text-shadow: 1px 1px #072845;
	}

	#what {
		line-height: 20px;
		font-size:19px;
		text-shadow: 1px 1px #072845;
	}

	#popover {
		width:90%;
		left:5%;
		height:80%;
		top:15%;
	}
	#popinner {
		padding:10px;
		text-align: center;
	}
	#popinner img {
		width:200px;
	}
	#g_search {
		width:320px;
	}
	#poptitle {
		bottom:90%;
		left:5%;
		font-size:16px;
		text-shadow: 1px 1px #072845;
	}

	#instructions {
		top:5%;
		height:90%;
		width:90%;
		left:5%;
	}
	#instructions p {
		padding:8px;
	}

	#about {
		top:5%;
		height:90%;
		width:90%;
		left:5%;
	}
	#about p {
		padding:8px;
	}

	#victory {
		top:20%;
		height:60%;
		width:80%;
		left:10%;
	}
	#victory img {
		width:50px;
	}
	#victory p {
		padding:8px;
	}

	#enterNewWord {
		width: 150px;
	}

	#fake_mouse {
		width: 18px;
		height: 20px;
	}

	.closebox {
		bottom:10px;
		right:10px;
		padding:0px;
		font-size:16px;
	}

}

					/* Everything but mobile */
@media only screen 
and (min-width : 581px) {

	#instructobox {
		font-size:20px;
	}

	#mini_instructions {
		display:none;
	}

	#title {
		margin-top:30px;
	}

	.word {
	    font-size:48px;
	    padding:0px 13px 10px 16px;
	    border-radius:15px;
	    text-shadow: 2px 2px #072845;
	}
	#word_right_container {
		top:48%;
		left:50%;
	}
	#word_left_container {
		top:48%;
		left:0%;
	}

	#social span {
		font-size:38px;
	}

	#what {
		line-height: 26px;
		font-size:22px;
		text-shadow: 2px 2px #072845;
	}

	#popover {
		width:80%;
		left:10%;
		height:60%;
		top:20%;
	}
	#popinner {
		padding:20px;
		padding-top:90px;
	}
	#g_search {
		width:538px;
	}
	#poptitle {
		bottom:80%;
		left:10%;
		font-size:36px;
		text-shadow: 2px 2px #072845;
	}

	#instructions {
		top:10%;
		height:80%;
		width:80%;
		left:10%;
	}
	#instructions p {
		padding:30px;
	}

	#about {
		top:20%;
		height:60%;
		width:80%;
		left:10%;
	}
	#about p {
		padding:30px;
	}

	#victory {
		top:20%;
		height:60%;
		width:80%;
		left:10%;
	}
	#victory p {
		padding:30px;
	}

	#enterNewWord {
		width: 200px;
	}

	#fake_mouse {
		width: 28px;
		height: 30px;
		left:0px;
		top:0px;
	}

	.closebox {
		bottom:10px;
		right:10px;
		padding:10px;
		font-size:28px;
	}

}

					/* Laptops */
@media only screen 
and (min-width : 481px) 
and (max-width : 1224px) {

	html {
		background: url(../images/sunny_med.jpg) no-repeat center center fixed; 
	}	

}

					/* Large Displays */
@media only screen 
and (min-width : 1225px) {

	html {
		background: url(../images/sunny_large.jpg) no-repeat center center fixed; 
	}	

}

html {
	overflow: hidden;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	color: #FFFFFF;
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
}

a {
	color:#FFFFFF;
	text-decoration:none;
}
a:hover {
	color:#FF0000;
}

#title {
	font-family: 'Lobster', Georgia, Times, serif;
	font-size:  90px;
	text-shadow: 2px 2px #072845;
	text-align: center;
	margin:0 auto;
	z-index: 100;
	width:100%;
	height:20%;
}
#instructobox {
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    margin-top:20px;
    margin-left:34%;
    margin-right:19%;
    color:#ffffff;
    text-shadow: 1px 1px #072845;
    opacity:.8;
    text-align: center;
}
#instructobox span {
	color:#f9f7ab;
	font-weight:700;
}

#mini_instructions {
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    margin-top:20px;
    margin-left:34%;
    margin-right:19%;
    color:#f9f7ab;
    text-shadow: 1px 1px #072845;
    opacity:.8;
    text-align: center;
}

#social {
	position:absolute;
	bottom:4px;
	left:4px;
	text-shadow: 2px 2px #072845;
}
#social img{
	width:38px;
	float:left;
}
#social span {
	float:right;
	margin-left:4px;
}

#left {
	transition: width .5s;
	-webkit-transition: width .5s; /* Safari */
	position:absolute;
	top:0%;
	left:0%;
	width:0%;
	height:100%;
	z-index:-10;
	overflow: hidden;
	background: url(../images/evil_large.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#left:hover {
	width:100%;
}

.word {
    font-family: 'Lobster', Helvetica, Arial, sans-serif;
    cursor: pointer;
    margin:0 auto;
    display:inline-block;
    background-color: rgba(0,0,0,.5);
}
.word:hover {
	text-decoration:underline;
}
#word_right_container {
	position:absolute;
	left:50%;
	text-align:center;
	width:50%;
}
#word_left_container {
	position:absolute;
	left:0%;
	text-align:center;
	width:50%;
}
#word_left, #word_right {
	
}

#what {
	position:absolute;
	bottom:8px;
	right:8px;
	text-align:right;
	color:#FFFFFF;
}
#what a {
	display:block;
	transition: .5s all;
}
#what a:hover {
}

.hide, .hide2, .hide3, .hide4{
	display:none;
	color:#072845;
}
.hide2 a, .hide3 a {
	color:#6FA2B3;
}
.hide2 a:hover, .hide3 a:hover {
	color:#bb4433;
}

#curtain {
	position:fixed;
	width:100%;
	height:100%;
	background-color: #000000;
	top:0%;
	left:0%;
	opacity:.75;
}
#popover {
	position: absolute;
	background-color:#FFFFFF;
}
#popinner {
	text-align: center;
}
#g_search {
	//width:538px;
}
#poptitle {
	position:absolute;
	text-shadow: 2px 2px #072845;
	color: #FFFFFF;
}
#poptitle img {
	position:relative;
	top:10px;
	width:40px;
}
#popagain {
	position:absolute;
	top:80%;
	right:10%;
	text-align: right;
	font-size:28px;
}
#popagain a {
	color:#ff0000;
}

#instructions {
	position: absolute;
	background-color:#FFFFFF;
}
#instructions p {
	
}

#about {
	position: absolute;
	background-color:#FFFFFF;
}
#about p {
	padding:30px;
}

#victory {
	position: absolute;
	background-color:#FFFFFF;
}
#victory p {
	//padding:30px;
}

#enterNewWord {
	//width: 200px;
}

#fake_mouse {
	position: absolute;
	background-image: url("../images/mouse.png");
	background-repeat: no-repeat;
	background-size: contain;
	z-index: 1000;
	left:0px;
	top:0px;
	display:none;
}

.closebox {
	position:absolute;
	color:red;
	//padding:10px;
}
.closebox a {
	color:#ff0000;
}